

.header{
    padding: 45px 16px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 15px;
}

h1{
    font-size: 36px;
    font-weight: 500;
}

.header-span{
    background-color: black;
    color: white;
    padding: 0 5px;
}